body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



header{
    widht: 100%;
    background-color: #1e81b0;

}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;

}

header label:hover {
    cursor: pointer

}

.menu ul {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    justify-content: center;
    


}

.menu li {
    border-right: 1px solid #fff;
    text-align: center;
    flex-grow: 1;



}

.menu li:hover {
    background-color: rgba(0,0,0,0.3);
    


}

.menu li a {
display: block;
padding: 15px 20px;
color: #fff;
text-decoration: none;

}




@media (max-widht:768px) {
    
    header label {
        display: block;

    }

    .menu {
        position: absolute;
        background: #4E94AB;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;



    }

    .menu ul {
        flex-direction: column;
    }


    .menu li {
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .menu {
        margin:0
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

h1 {
    text-align: center;
    font-style: oblique;
    font-family: 'Roboto', sans-serif;


}


div {
    

}

/* .tarjetita {
    border-left: 10px;
    border: 10px solid #4E94AB;
    padding: 0px;
    align-items: center;
    text-align: center;
   background-color:#1e81b0;
   width: 100%;
   font-size:large;
   font-family: 'Roboto', sans-serif;
  



} */



.card {
    border: 10px solid #4E94AB;
    padding: 10px;
    align-items: center;
    text-align: center;
   background-color:#016081;
   width: 100%;
   font-size:medium;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #fff;
  



}

.texto {
    text-align:center;
    border-left: 20px;
    width: 95%;
    font-size:x-large;
    font-family: 'Roboto', sans-serif;


}

.master {
    column-count:2;
    display: flex;




}